html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  font-family: monospace, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #656c6d;
  width: 100% !important;
  height: 100% !important; }

ul, ol {
  list-style: none; }

/* Navigation */
#nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%; }

.nav-custom {
  margin-bottom: 0;
  background-color: #6a7679;
  border-radius: 0px;
  padding: 10px 0; }
  .nav-custom a {
    color: #262626; }

.navbar-header {
  padding: 4px 6px;
  font-weight: 600;
  font-size: 25px;
  color: #262626;
  display: inline-block; }

.navbar-header a {
  text-decoration: none;
  margin-left: 30px; }

.navbar-right {
  font-size: 20px;
  float: right;
  margin: 5px 20px; }

.navbar-right li {
  display: inline-block; }
  .navbar-right li a {
    text-decoration: none;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }

li a {
  margin-right: 10px;
  text-decoration: none; }
  li a:hover, li a:focus, li a:active {
    background: transparent;
    color: #7bc3d1;
    outline: 0; }


/*mynote_style*/
#container {
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
}

#gotop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;    
  padding: 10px 15px;    
  font-size: 20px;
  background: #777;
  color: white;
  cursor: pointer;
}

#content {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  font-size: medium;
  line-height: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(180, 180, 180, 0.432);
}

#but1 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#but2 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#but3 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#but4 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#but5 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#but6 {
  margin: 10px;
  width: 95%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(78, 198, 214, 0.644);
}

#menu {
  width: 80%;
}

.codeStyle {
  border: 2px none;
  border-radius: 3px;
  width: fit-content;
  background-color: rgba(207, 207, 207, 0.726);
  padding: 3px;
  margin: 2px;
}
